@charset "utf-8";

*{margin:0; padding:0; }
li{list-style:none;}
button{ cursor: pointer;}


* a{text-decoration-line:none; color: inherit;}

header{margin-bottom:5%;}
/* header div p{display: inline-block; margin-left:5%;} */
/* header div{margin-left:80%; margin-top:1%;} */
header div p{display: inline-block; padding:0 10px;}
header div p:last-child{margin-right:80px;}
/* header div p{display: inline-block; margin-left:5%;} */
header div{margin-top:1%; float:right;}
/* header div{margin-left:80%; margin-top:1%;} */
.navbar{clear:both;}
#loginBar{display:flex;}
#xeicon{font-size:25px;}
#loginId{padding:0 10px 0 0;}

header nav p{margin-left:1%; font-size:20px;}
header nav h1{margin-left:10%;}
header nav section{margin-left:17.5%;}

footer{margin:0 auto; }
#bottom{background: #f7f7f7; height:200px; margin-top:150px; text-align: center; }
#bottom p{margin:0;}
address {margin-bottom: 0;}


