<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.healingcamp.mapper.adminMapper">

<!-- 일반회원 리스트 -->
	<select id="member_List" resultType="userVo" parameterType="searchVO">
	
	 <![CDATA[
		SELECT id
			  ,mail
			  ,edate
			  ,uidx
		  FROM USERTABLE
   		  WHERE usertype='u'
     		AND delyn = 'N'
	]]>
			<if test="searchType == 'id'">
				AND id LIKE CONCAT('%',#{searchVal},'%')
			</if>
			<if test="searchType == 'mail'">
				AND mail LIKE CONCAT('%',#{searchVal},'%')
			</if>		
 				 
		 <choose>
         	<when test="sort == 'edate'">
         		ORDER BY edate DESC
         	</when>
         	<when test="sort == 'id'">
         		ORDER BY id DESC
         	</when>
         	<otherwise>
         		ORDER BY UIDX DESC
         	</otherwise>
         </choose>	 
	<![CDATA[
		Limit #{startNum}, #{amount} 
	]]>
<!--   				 	WHERE rnum BETWEEN (#{pageNum}-1)*#{amount}+1 AND #{pageNum}*#{amount} -->
  				 
	</select>
	
<!-- 	일반회원 리스트 총합 -->
	<select id="total" resultType="int" parameterType="searchVO">
		SELECT COUNT(uidx) AS total
		  FROM USERTABLE 
		 WHERE usertype='u'
		   AND delyn = 'N'
		 
			<if test="searchType == 'id'">
				AND id LIKE CONCAT('%',#{searchVal},'%')
			</if>
			<if test="searchType == 'mail'">
				AND mail LIKE CONCAT('%',#{searchVal},'%')
			</if>		
	</select>
	
	<!-- 	회원탈퇴 -->
	<update id="update_member">
		UPDATE USERTABLE 
		   SET delyn = 'Y'
		 WHERE uidx = #{uidx}
		   AND usertype = #{usertype}
	</update>

	<!-- 상담사 리스트 -->
	<select id="counseller_List" resultType="userVo" parameterType="searchVO">
	<![CDATA[
		SELECT id
			  ,mail
			  ,edate
			  ,uidx
			  ,name
		  FROM USERTABLE
   		  WHERE usertype='c'
     		AND delyn = 'N'
	]]>
  			<if test="searchType == 'id'">
				AND id LIKE CONCAT('%',#{searchVal},'%')
			</if>
			<if test="searchType == 'mail'">
				AND mail LIKE CONCAT('%',#{searchVal},'%')
			</if>		
  				 <if test="searchType == 'name'">
				AND name LIKE CONCAT('%',#{searchVal},'%')
			</if>			
  				 
  				 <choose>
	         	<when test="sort == 'edate'">
	         		ORDER BY edate DESC
	         	</when>
	         	<when test="sort == 'id'">
	         		ORDER BY id DESC
	         	</when>
	         	<otherwise>
	         		ORDER BY UIDX DESC
	         	</otherwise>
	         </choose>	 
	<![CDATA[
		Limit #{startNum}, #{amount} 
	]]>
  				 
	</select>
	
<!-- 	상담사 리스트 총합 -->
	<select id="counseller_total" resultType="int" parameterType="searchVO">
		SELECT COUNT(uidx) AS total
		  FROM USERTABLE 
		 WHERE usertype='c'
		   AND delyn = 'N'
		 
		   <if test="searchType == 'id'">
				AND id LIKE CONCAT('%',#{searchVal},'%')
			</if>
			<if test="searchType == 'mail'">
				AND mail LIKE CONCAT('%',#{searchVal},'%')
			</if>		
  				 <if test="searchType == 'name'">
				AND name LIKE CONCAT('%',#{searchVal},'%')
			</if>		
	</select>
	
	
<!-- 	커뮤니티 리스트 -->
	<select id="community_List" resultType="cboardVO" parameterType="searchVO">
		<![CDATA[
			SELECT bidx, title, content, wdate, id, hit, likes, delyn, category, ip, uidx, board_type, hide_id, replycnt
				FROM boardtable WHERE delyn='N' AND board_type='0'
		]]>
            
		<if test="searchType == 'title'">
			AND title LIKE CONCAT('%',#{searchVal},'%')
		</if>
		<if test="searchType == 'id'">
			AND id LIKE CONCAT('%',#{searchVal},'%')
		</if>
        
		<choose>
			<when test="sort == 'wdate'">
				ORDER BY wdate DESC
			</when>
			<when test="sort == 'id'">
				ORDER BY id DESC
			</when>
			<when test="sort == 'title'">
				ORDER BY title DESC
			</when>
			<otherwise>
				ORDER BY BIDX DESC
			</otherwise>
		</choose>
         
	<![CDATA[
		Limit #{startNum}, #{amount} 
	]]>
  		
  	</select>
  	
<!--   	커뮤니티 게시글 총 합 -->
  	<select id="community_Total" resultType="int" parameterType="searchVO">
  		SELECT COUNT(bidx) as total
  		  FROM boardtable
  		 WHERE board_type = '0' AND delyn='N'
  		<if test="searchType == 'title'">
			AND title LIKE CONCAT('%',#{searchVal},'%')
		</if>
		<if test="searchType == 'id'">
			AND id LIKE CONCAT('%',#{searchVal},'%')
		</if>
         <if test="category != null">
         	AND category = #{category}
         </if>
         
  	</select>

<!-- 	삭제된 게시글 삭제여부 업데이트 -->
	<update id="community_DeleteByBidx" parameterType="cboardVO">
		UPDATE boardtable
		   SET delyn = 'Y'
		 WHERE bidx=#{bidx}
		   AND board_type=#{board_type}
	</update>
	
<!-- 	상담사게시판 리스트 -->
	<select id="counseller_board_list" resultType="cboardVO" parameterType="searchVO">
  		<![CDATA[
			SELECT bidx, title, content, wdate, id, hit, likes, delyn, category, ip, uidx, board_type, hide_id, replycnt
				FROM boardtable WHERE delyn='N' AND board_type='1'
		]]>
            
		<if test="searchType == 'title'">
			AND title LIKE CONCAT('%',#{searchVal},'%')
		</if>
		<if test="searchType == 'id'">
			AND id LIKE CONCAT('%',#{searchVal},'%')
		</if>
        
		<choose>
			<when test="sort == 'wdate'">
				ORDER BY wdate DESC
			</when>
			<when test="sort == 'id'">
				ORDER BY id DESC
			</when>
			<when test="sort == 'title'">
				ORDER BY title DESC
			</when>
			<otherwise>
				ORDER BY BIDX DESC
			</otherwise>
		</choose>
         
	<![CDATA[
		Limit #{startNum}, #{amount} 
	]]>
  	</select>
  	
<!--  상담사게시판  게시글 총 합 -->
  	<select id="counseller_board_total" resultType="int" parameterType="searchVO">
  		SELECT COUNT(bidx) as total
  		  FROM boardtable
  		 WHERE board_type = '1'AND delyn='N'
  		<if test="searchType == 'title'">
			AND title LIKE CONCAT('%',#{searchVal},'%')
		</if>
		<if test="searchType == 'id'">
			AND id LIKE CONCAT('%',#{searchVal},'%')
		</if>

  	</select>
  
<!--   공지사항 리스트	 -->
	<select id="notice_List" resultType="cboardVO" parameterType="searchVO">
		<![CDATA[
			SELECT bidx, title, content, wdate, id, hit, likes, delyn, category, ip, uidx, board_type, hide_id, replycnt
				FROM boardtable WHERE delyn='N' AND board_type='2'
		]]>
            
		<if test="searchType == 'title'">
			AND title LIKE CONCAT('%',#{searchVal},'%')
		</if>
		<if test="searchType == 'id'">
			AND id LIKE CONCAT('%',#{searchVal},'%')
		</if>
			ORDER BY BIDX DESC
		<![CDATA[      
			Limit #{startNum}, #{amount} 
		]]>
	</select>
  	
<!--   공지사항 게시글 총 합 -->
  	<select id="notice_Total" resultType="int" parameterType="searchVO">
  		SELECT COUNT(bidx) as total
  		  FROM boardtable
  		 WHERE board_type = '2' AND delyn='N'
		<if test="searchType == 'title'">
			AND title LIKE CONCAT('%',#{searchVal},'%')
		</if>
		<if test="searchType == 'id'">
			AND id LIKE CONCAT('%',#{searchVal},'%')
		</if>
  	</select>	
  	
  <!--   공지사항/FAQ 작성 -->
  <insert id="admin_Insert" parameterType="cboardVO">
  	INSERT INTO boardtable(
  			 TITLE
  			,CONTENT
  			,WDATE
  			,ID
  			,HIT
  			,LIKES
  			,DELYN
  			,IP
  			,UIDX
  			,BOARD_TYPE
  			<if test="category != null">
  			,CATEGORY
  			</if>
  			)
		VALUES(
		      #{title}
		     ,#{content}
		     ,now()
			 ,#{id}		     
		     ,0
		     ,0
		     ,'N'
		     ,#{ip}
		     ,#{uidx}
		     ,#{board_type}
		     <if test="category != null">
		     ,#{category}
		     </if>
		     )
  </insert>
  
  <!--  공지사항 최신글 -->
  <select id="maxBidx" resultType="int">
  	SELECT max(bidx)
  	  FROM boardtable
  	 WHERE board_type='2'
  </select>
  
<!--   FAQ리스트 -->
	<select id="faq_List" resultType="cboardVO" parameterType="searchVO">
		<![CDATA[
			SELECT bidx, title, content, wdate, id, hit, likes, delyn, category, ip, uidx, board_type, hide_id, replycnt
				FROM boardtable WHERE delyn='N' AND board_type='3'
		]]>
            
        <if test="searchType == 'title'">
			AND title LIKE CONCAT('%',#{searchVal},'%')
		</if>
		<if test="searchType == 'id'">
			AND id LIKE CONCAT('%',#{searchVal},'%')
		</if>
         <if test="category != null">
         	AND category=#{category}
         </if>
         	ORDER BY BIDX DESC
      <![CDATA[      
      	Limit #{startNum}, #{amount} 
        ]]>
  	</select>
  	
<!--   	FAQ게시글 총 합 -->
  	<select id="faq_Total" resultType="int" parameterType="searchVO">
  		SELECT COUNT(bidx) as total
  		  FROM boardtable
  		 WHERE board_type = '3' AND delyn='N'
  		 <if test="searchType == 'title'">
			AND title LIKE CONCAT('%',#{searchVal},'%')
		</if>
		<if test="searchType == 'id'">
			AND id LIKE CONCAT('%',#{searchVal},'%')
		</if>
         <if test="category != null">
         	AND category = #{category}
         </if>
         
  	</select>
 <!--  FAQ 게시글 조회 -->
 	<select id="faq_selectBybidx" parameterType="int" resultType="cboardVO">
 		select title
 			  ,content
 			  ,wdate
 			  ,bidx
 			  ,uidx
 			  ,category
 		from boardtable
 		where bidx = #{bidx} and board_type = '3' AND delyn='N'
 	</select>
 	
 <!--  FAQ 수정 업데이트 --> 
 	<update id="FaqUpdate_ByBidx" parameterType="cboardVO">
 		update boardtable
 		   set title = #{title}
 		   	 , content = #{content}
 		   	 , category =#{category}
 		   	 , wdate = now()
 		   where bidx = #{bidx} and board_type = '3' AND delyn='N'
 	</update>	
 	
 <!-- 공지사항 게시글 조회 -->
 	<select id="Notice_selectBybidx" parameterType="int" resultType="cboardVO">
 		select title
 			  ,content
 			  ,wdate
 			  ,bidx
 			  ,uidx
 		from boardtable
 		where bidx = #{bidx} and board_type = '2' AND delyn='N'
 	</select>
 
 <!-- 공지사항 수정 업데이트 --> 
 	<update id="NoticeUpdate_ByBidx" parameterType="cboardVO">
 		update boardtable
 		   set title = #{title}
 		   	 , content = #{content}
 		   	 , wdate = now()
 		   where bidx = #{bidx} and board_type = '2' AND delyn='N'
 	</update>
 	
 	<!-- 예약내역 리스트 -->
 	<select id="reserveList" resultType="reserveVO" parameterType="searchVO">
 		select residx, center, couns, resdate, rescount, rescancle, uidx, counseling, conidx, state, id, restime, resposition
 		  from reservationtable
 		  
 		<if test="searchType == 'center'">
			WHERE center LIKE CONCAT('%',#{searchVal},'%')
		</if>
		<if test="searchType == 'couns'">
			WHERE couns LIKE CONCAT('%',#{searchVal},'%')
		</if>
		<if test="searchType == 'id'">
			WHERE id LIKE CONCAT('%',#{searchVal},'%')
		</if>
		<if test="resposition != null">
			WHERE resposition = #{resposition}
		</if>
		ORDER BY residx DESC
      	Limit #{startNum}, #{amount} 
 	</select>	
 	
 	<!-- 예약내역 총 합 -->
	<select id="reserve_Total" resultType="int" parameterType="searchVO">
		SELECT COUNT(residx) as total
  		  FROM reservationtable
  		  
		<if test="searchType == 'center'">
			WHERE center LIKE CONCAT('%',#{searchVal},'%')
		</if>
		<if test="searchType == 'couns'">
			WHERE couns LIKE CONCAT('%',#{searchVal},'%')
		</if>
		<if test="searchType == 'id'">
			WHERE id LIKE CONCAT('%',#{searchVal},'%')
		</if>
		<if test="resposition != null">
			WHERE resposition = #{resposition}
		</if>
			
         
  	</select>
  	
</mapper>