<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="project.healingcamp.mapper.communityMapper">
  	
  	<select id="list" resultType="cboardVO" parameterType="searchVO">
  		<![CDATA[
        SELECT * 
        FROM(SELECT ROWNUM AS rnum,A.* 
           FROM(SELECT * FROM boardtable WHERE delyn='N' AND board_type='0'
        ]]>
            
         
         <if test="searchType == 'title'">
            AND title like '%'||#{searchVal}||'%'
         </if>
         <if test="searchType == 'id'">
            AND id like '%'||#{searchVal}||'%'
         </if>
         <if test="searchType == 'content'">
            AND content like '%'||#{searchVal}||'%'
         </if>
         
         <if test="category != null">
         	AND category=#{category}
         </if>
         
         <choose>
         	<when test="sort == 'wdate'">
         		ORDER BY wdate DESC)A)
         	</when>
         	<when test="sort == 'hit'">
         		ORDER BY hit DESC)A)
         	</when>
         	<when test="sort == 'likes'">
         		ORDER BY likes DESC)A)
         	</when>
         	<otherwise>
         		ORDER BY BIDX DESC)A)
         	</otherwise>
         </choose>
         
         
             
      <![CDATA[      
      	WHERE rnum BETWEEN (#{pageNum}-1)*#{amount}+1 AND #{pageNum}*#{amount}
        ]]>
  	</select>
  	
<!--   	게시글 총 합 -->
  	<select id="total" resultType="int" parameterType="searchVO">
  		SELECT COUNT(bidx) as total
  		  FROM boardtable
  		 WHERE board_type = '0' AND delyn='N'
  		 <if test="searchType == 'title'">
            AND title like '%'||#{searchVal}||'%'
         </if>
         <if test="searchType == 'id'">
            AND id like '%'||#{searchVal}||'%'
         </if>
         <if test="searchType == 'content'">
            AND content like '%'||#{searchVal}||'%'
         </if>
         <if test="category != null">
         	AND category = #{category}
         </if>
         
  	</select>
  	
  	
<!--   	한개의 게시글 조회 -->
  	<select id="selectByBidx" parameterType="int" resultType="cboardVO">
  		SELECT title
  			  ,category
  			  ,id
  			  ,wdate
  			  ,content
  			  ,hide_id
  			  ,hit
  			  ,bidx
  			  ,hide_id
  		 FROM boardtable
  		WHERE bidx=#{bidx}
  	</select>
  
<!--   게시글 작성 -->
  <insert id="insert" parameterType="cboardVO">
  	INSERT INTO boardtable(
  			 BIDX
  			,TITLE
  			,CONTENT
  			,WDATE
  			,ID
  			,HIT
  			,LIKES
  			,DELYN
  			,CATEGORY
  			,IP
  			,UIDX
  			,BOARD_TYPE
  			 <if test="hide_id !=null"><!-- hide_id가 null인 경우 데이터 삽입 -->
  			,HIDE_ID
  			</if>
  			)
		VALUES(
		     bidx_seq.nextval
		     ,#{title}
		     ,#{content}
		     ,sysdate
			 ,#{id}		     
		     ,0
		     ,0
		     ,'N'
		     ,#{category}
		     ,#{ip}
		     ,#{uidx}
		     ,#{board_type}
		     <if test="hide_id !=null"><!-- hide_id가 null인 경우 데이터 삽입 -->
		     ,#{hide_id}
		     </if>
		     )
  </insert>
  
<!--   최신글 -->
  <select id="maxBidx" resultType="int">
  	SELECT max(bidx)
  	  FROM boardtable
  	 WHERE board_type='0'
  </select>
  
<!--   조회수 -->
	<update id="hitCount" parameterType="int">
		UPDATE boardtable
		   SET hit = hit+1
		 WHERE bidx=#{bidx}
	</update>
	
<!-- 	삭제된 게시글 삭제여부 업데이트 -->
	<update id="deleteByBidx" parameterType="int">
		UPDATE boardtable
		   SET delyn = 'Y'
		 WHERE bidx=#{bidx}
	</update>
	
<!-- 	카테고리 조회 -->
	<select id="selectByCategory" resultType="String">
		SELECT category
		  FROM boardtable
	</select>
	
<!-- 	게시글 수정 -->
	<update id="modifyByBidx" parameterType="cboardVO">
		UPDATE boardtable
		   SET category=#{category}
		   <if test="hide_id != null">
		      ,hide_id=#{hide_id}
		   </if>
		   <if test="hide_id == null">
		      ,hide_id=null
		   </if>
		      ,title=#{title}
		      ,content=#{content}
		 WHERE bidx=#{bidx}
	</update>
	
<!-- 	댓글작성시 댓글 수 카운팅 +1 -->
	<update id="addReplyCnt" parameterType="int">
		UPDATE boardtable
   		   SET replyCnt = replyCnt + 1
   		 WHERE bidx = #{bidx}
	</update>
	
<!-- 	댓글작성시 댓글 수 카운팅 +1 -->
	<update id="removeReplyCnt" parameterType="int">
		UPDATE boardtable
   		   SET replyCnt = replyCnt - 1
   		 WHERE bidx = #{bidx}
	</update>
	

  </mapper>