<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="project.healingcamp.mapper.counseller_BoardMapper">
  	
  	<select id="counseller_board_list" resultType="cboardVO" parameterType="searchVO">
  		<![CDATA[
         SELECT bidx, title, content, wdate, id, hit, likes, delyn, category, ip, uidx, board_type, hide_id, replycnt
        	FROM boardtable WHERE delyn='N' AND board_type='1'
        ]]>
            
          <if test="searchType == 'title'">
            AND title LIKE CONCAT('%',#{searchVal},'%')
         </if>
         <if test="searchType == 'id'">
            AND id LIKE CONCAT('%',#{searchVal},'%')
         </if>
         <if test="searchType == 'content'">
            AND content LIKE CONCAT('%',#{searchVal},'%')
         </if>
         <choose>
         	<when test="sort == 'wdate'">
         		ORDER BY wdate DESC
         	</when>
         	<when test="sort == 'hit'">
         		ORDER BY hit DESC
         	</when>
         	<when test="sort == 'likes'">
         		ORDER BY likes DESC
         	</when>
         	<otherwise>
         		ORDER BY BIDX DESC
         	</otherwise>
         </choose>
      
      <![CDATA[      
      	Limit #{startNum}, #{amount} 
        ]]>
  	</select>
  	
<!--   	게시글 총 합 -->
  	<select id="counseller_board_total" resultType="int" parameterType="searchVO">
  		SELECT COUNT(bidx) as total
  		  FROM boardtable
  		 WHERE board_type = '1'AND delyn='N'
  		 <if test="searchType == 'title'">
            AND title like concat('%',#{searchVal},'%')
         </if>
         <if test="searchType == 'id'">
            AND id like concat('%',#{searchVal},'%')
         </if>
         <if test="searchType == 'content'">
            AND content like concat('%',#{searchVal},'%')
         </if>
  	</select>
  	
  	
<!--   	한개의 게시글 조회 -->
  	<select id="counseller_selectByBidx" parameterType="int" resultType="cboardVO">
  		SELECT title
  			  ,id
  			  ,wdate
  			  ,content
  			  ,hit
  			  ,bidx
  			  ,likes
  		 FROM boardtable
  		WHERE bidx=#{bidx}
  	</select>
  	
  	<!--   게시글 작성 -->
	  <insert id="counseller_board_insert" parameterType="cboardVO">
	  	INSERT INTO boardtable(
	  			 TITLE
	  			,CONTENT
	  			,WDATE
	  			,ID
	  			,HIT
	  			,LIKES
	  			,DELYN
	  			,IP
	  			,UIDX
	  			,BOARD_TYPE
	  			)
			VALUES(
			      #{title}
			     ,#{content}
			     ,now()
				 ,#{id}		     
			     ,0
			     ,0
			     ,'N'
			     ,#{ip}
			     ,#{uidx}
			     ,1
			     )
	  </insert>
	  
	  <!--   최신글 -->
	  <select id="counseller_board_maxBidx" resultType="int">
	  	SELECT max(bidx)
	  	  FROM boardtable
	  	 WHERE board_type='1'
	  </select>
  	
  	<!--   조회수 -->
	<update id="counseller_board_hitCount" parameterType="int">
		UPDATE boardtable
		   SET hit = hit+1
		 WHERE bidx=#{bidx}
	</update>
	
	<!-- 	삭제된 게시글 삭제여부 업데이트 -->
	<update id="counseller_board_deleteByBidx" parameterType="int">
		UPDATE boardtable
		   SET delyn = 'Y'
		 WHERE bidx=#{bidx}
	</update>
	
	<!-- 	게시글 수정 -->
	<update id="counseller_board_modifyByBidx" parameterType="cboardVO">
		UPDATE boardtable
		   SET title=#{title}
		      ,content=#{content}
		 WHERE bidx=#{bidx}
	</update>
  
  </mapper>