<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="project.healingcamp.mapper.likeMapper">

	<!-- 좋아요 체크 확인 -->
	<select id="likeCount" parameterType="likeVO" resultType="int">
		SELECT COUNT(*) 
		  FROM liketable 
		 WHERE bidx = #{bidx} AND id = #{id}
	</select>

	<!-- 좋아요 +1 -->
	<insert id="likeUp" parameterType="likeVO">
		INSERT into liketable(
			like_no,
			bidx,
			id,
			likenum
		)VALUES(
			like_no_seq.nextval,
			#{bidx},
			#{id},
			1
		)
		
	</insert>
	
	<!-- 좋아요 -1 -->
	<delete id="likeDown" parameterType="likeVO">
		DELETE liketable 
		 WHERE bidx = #{bidx} 
		   AND id= #{id}
	</delete>
	
	<!-- 	좋아요수 카운팅 +1 -->
	<update id="addLikeCnt" parameterType="int">
		UPDATE boardtable
		   SET likes = likes + 1
		 WHERE bidx = #{bidx}
	</update>
	
	<!-- 	좋아요수 카운팅 -1 -->
	<update id="removeLikeCnt" parameterType="int">
		UPDATE boardtable
		   SET likes = likes - 1
		 WHERE bidx = #{bidx}
	</update>

	<!-- 게시글의 좋아요 총 갯수 -->
	<select id="likeNum" parameterType="int" resultType="cboardVO">
		SELECT likes 
		  FROM boardtable 
		 WHERE bidx = #{bidx}
	</select>
	
	<select id="likeList" resultType="likeVO">
		SELECT id,bidx
		  FROM liketable
	</select>

	
	
	
  </mapper>