<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="project.healingcamp.mapper.pageMapper">
  
  <!--회원가입 수정전 비밀번호 인증 -->
  	<select id="pwCheck" parameterType="userVo" resultType="userVo">
  		select pw
  			from usertable
  			where pw=#{pw}
 
  	</select>
  <!-- 마이페이지 나의 글쓰기 목록 -->
   <select id="list" resultType="cboardVO" parameterType="myCriteria">
			<![CDATA[
				select * 
			from (
				select rownum as rnum, a. *
				 from (
				 	select * 
				 	from  boardtable
				 	 where uidx=#{uidx} and delyn='N'
				 	 order by wdate desc
			 		)a 
					)
					WHERE RNUM BETWEEN (#{page}-1)*#{perPageNum}+1 AND #{page}*#{perPageNum}
			 ]]>
  </select>
  
   <!-- 전체 게시글 수를 구하는 sql문 -->
    <select id="total" resultType="int" parameterType="myCriteria">
        select count(*) 
	        from boardtable
	      	  where uidx=#{uidx} and delyn='N' 
    </select>
  
  <!-- 마이페이지 나의 예약 목록 -->
   <select id="reslist" resultType="reserveVO" parameterType="myrCriteria">
	<![CDATA[
		select * 
			from (
				select rownum as rnum, a. *
				from (
					select * 
					from  reservationtable
					where uidx=#{uidx} and rescancle='N' 
					ORDER BY residx DESC
				)A
			)
			WHERE RNUM BETWEEN (#{page}-1)*#{perPageNum}+1 AND #{page}*#{perPageNum}
	]]>
<!-- 	
					
		
	select residx
		  ,center
		  ,resdate
		  ,resposition
		  from reservationtable
		  
		  where uidx=#{uidx}
		  and rescancle='N'
		   -->
		  
	</select>
	
	  <!--  예약 수를 구하는 sql문 -->
    <select id="res_total" resultType="int" parameterType="myrCriteria">
        select count(uidx) 
	        from reservationtable
	      	  where uidx=#{uidx} and rescancle='N'
	      	   
	
    </select>
  
	<!-- 마이페이지 예약 취소 -->
	<update id="myres_Delete" parameterType="reserveVO">
      update reservationtable
         set rescancle = 'Y'
         where residx=#{residx}
        
   </update>
	
  </mapper>