<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="project.healingcamp.mapper.reserveMapper">
  		<!-- 현장결제시 DB insert -->
  		<insert id = "resF" parameterType="reserveVO">
  			<![CDATA[ 
  			insert into reservationtable(
  						 residx
  						,center
  						,couns
  						,resdate
  						,restime
  						,rescount  						
  						,uidx
  						,state
  						,id
  			)values(
  						 residx_seq.nextval
  						,#{center}
  						,#{couns}
  						,#{resdate}
  						,#{restime}
  						,#{rescount}
  						,#{uidx}
  						,'N'
  						,#{id}
  			)
  			]]>
  						
  		</insert>
  		
  		<!-- 결제모듈 결제 완료시 DB insert -->
  		<insert id = "couF" parameterType="reserveVO">
  			<![CDATA[ 
  			insert into reservationtable(
  						 residx
  						,center
  						,couns
  						,resdate
  						,restime
  						,rescount  						
  						,uidx
  						,state
  						,id
  			)values(
  						 residx_seq.nextval
  						,#{center}
  						,#{couns}
  						,#{resdate}
  						,#{restime}
  						,#{rescount}
  						,#{uidx}
  						,'Y'
  						,#{id}
  			)
  			]]>
  						
  		</insert>
  
  	
  </mapper>