<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="project.healingcamp.mapper.reserveMapper">
  		<!-- 현장결제시 DB insert -->
  		<insert id = "resF" parameterType="reserveVO">
  			<![CDATA[ 
  			insert into reservationtable(
  						 center
  						,counseling
  						,couns
  						,resdate
  						,restime
  						,rescount  						
  						,uidx
  						,state
  						,id
  						,conidx
  						,resposition
  			)values(
  						 #{center}
  						,#{counseling}
  						,#{couns}
  						,#{resdate}
  						,#{restime}
  						,#{rescount}
  						,#{uidx}
  						,'N'
  						,#{id}
  						,#{conidx}
  						,'예약대기'
  			)
  			]]>
  						
  		</insert>
  		
  		<!-- 결제모듈 결제 완료시 DB insert -->
  		<insert id = "couF" parameterType="reserveVO">
  			<![CDATA[ 
  			insert into reservationtable(
  						 center
  						,counseling
  						,couns
  						,resdate
  						,restime
  						,rescount  						
  						,uidx
  						,state
  						,id
  						,conidx
  						,resposition
  			)values(
  						 #{center}
  						,#{counseling}
  						,#{couns}
  						,#{resdate}
  						,#{restime}
  						,#{rescount}
  						,#{uidx}
  						,'Y'
  						,#{id}
  						,#{conidx}
  						,'예약대기'
  			)
  			]]>
  						
  		</insert >
  		<!-- 센터값 찾기 -->
  		<select id="cnoidx" parameterType="reserveVO" resultType="reserveVO">
  			<![CDATA[
  				select cnoidx
  					  ,centername
  					  ,centeraddr
  					  ,centercall
  				from centertable
  				where centername = #{centername} and centeraddr = #{centeraddr}
  			]]>
  		</select>
  		
  		<!-- 상담사찾기 -->
  		<select id="conidx" parameterType="reserveVO" resultType="reserveVO">
  			<![CDATA[
  				select conidx
  					  ,name
  					  ,grade
  					  ,certi1
  					  ,certi2
  					  ,certi3
  					  ,certi4
  					  ,article1
  					  ,article2
  					  ,article3
  					  ,article4
  					  ,uidx
  				from counselortable
  				where name = #{name}  			
  			]]>
  		</select>
  		
  		<!-- 상담센터페이지용 테이블 -->
  		<select id="centerlist" parameterType="reserveVO" resultType="reserveVO">
  			<![CDATA[
  				select a.cintidx 
  					  ,a.conidx
  					  ,a.cnoidx
  					  ,a.con1
  					  ,a.con2
  					  ,a.con3
  					  ,a.price1
  					  ,a.price2
  					  ,a.price3  					 
  					  ,b.name
  					  ,b.grade
  					  ,b.certi1
  					  ,b.certi2
  					  ,b.certi3
  					  ,b.certi4
  					  ,b.article1
  					  ,b.article2
  					  ,b.article3
  					  ,b.article4
  					  ,b.uidx
  					  ,c.centername
  					  ,c.centeraddr
  					  ,c.centercall
				from centerintrotable a
				inner join counselortable b
				on a.conidx = b.conidx
				inner join centertable c
				on a.cnoidx = c.cnoidx
				where a.cnoidx = #{cnoidx}; 
  			]]>
  		</select>
  		
  		<select id="cintidx" parameterType="reserveVO" resultType="reserveVO">
  			<![CDATA[
  				select a.cintidx
  					  ,a.con1
  					  ,a.con2
  					  ,a.con3
  					  ,a.price1
  					  ,a.price2
  					  ,a.price3
  					  ,b.name
  				from centerintrotable a
  				inner join counselortable b
				on a.conidx = b.conidx
  				where a.cnoidx = #{cnoidx} limit 0,1;
  			]]>
  		</select>
  		
  		<select id="reslist" parameterType="reserveVO" resultType="reserveVO">
  			<![CDATA[
  				select  couns
  					   ,concat(resdate," ",left(restime,5)) as start 
  					   ,concat(resdate," ",substring(restime, 9, 5)) as end
				from reservationtable
				where center=#{centername};
  			]]>
  		</select>
  </mapper>