<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="project.healingcamp.mapper.reviewMapper">
  <select id="list" resultType="reviewVo" parameterType="criteria" ><!--여기 parameterType에 criteria 넣으면 서버 안열림 -->
			<![CDATA[
				select * from (
				select rownum as rnum, a. *
				 from (select * from  reviewtable ORDER BY rdate desc 
				)a 
				)WHERE RNUM BETWEEN (#{page}-1)*#{perPageNum}+1 AND #{page}*#{perPageNum}
				
			 ]]>
  </select>
  	<!-- 이 구문에서 ; 넣으면 에러 뜸! -->
  
   <!-- 전체 게시글 수를 구하는 sql문 -->
    <select id="total" resultType="int" parameterType="criteria">
        select count(*) 
        from reviewtable
        where uidx=${uidx}
    </select>
  
  <!--상담사 후기 지우기 -->
  <delete id="deleteRidx" parameterType="int">
  	delete
  		from reviewtable
  		where ridx = #{ridx}
  
  </delete>
  
  <insert id="insert" parameterType="reviewVo">
	
		insert into reviewtable(
			 ridx
			,rcontent
			,rdate
			,uidx
			,id
			
			
		)values(
			ridx_seq.nextval
			, #{rcontent}
			, sysdate
			, #{uidx}
			, #{id}
			
			)	
	
  </insert>	
 
 </mapper> 