<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
				"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="project.healingcamp.vo.ReserveVO" alias="reserveVO"/>
		<typeAlias type="project.healingcamp.vo.UserVo" alias="userVo"/>
		<typeAlias type="project.healingcamp.vo.ReviewVo" alias="reviewVo"/>
		<typeAlias type="project.healingcamp.vo.Community_BoardVO" alias="cboardVO"/>
		<typeAlias type="project.healingcamp.vo.SearchVO" alias="searchVO"/>
		<typeAlias type="project.healingcamp.vo.ReplyVO" alias="replyVO"/>
		<typeAlias type="project.healingcamp.vo.Criteria" alias="criteria"/>
	</typeAliases>


</configuration>